@import "../app/constants/colorConstants.scss";
@import "../app/constants/fontConstants.scss";
@import "../app/constants/mediaConstants.scss";

.volunteers {

  @include pc {
    width: 780px;
  }
  
  .filterButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}