@import "../app//constants/constants.scss";

.volunteers {

  @include pc {
    width: 780px;
  }
  
  .filterButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}