$fontLineHeight: 150%;

$heading1FontSize: 24px;
$heading1FontWeight: 700;
$heading1FontLineHeight: 34px;

$heading2BoldFontSize: 18px;
$heading2BoldFontWeight: 700;
$heading2BoldFontLineHeight: 28px;

$heading2MediumFontSize: 18px;
$heading2MediumFontWeight: 500;
$heading2MediumFontLineHeight: 28px;

$body1FontSize: 16px;
$body1FontWeight: 500;
$body1FontLineHeight: 26px;

$body2FontSize: 14px;
$body2FontWeight: 500;
$body2FontLineHeight: 24px;

$buttonBoldFontSize: 12px;
$buttonBoldFontWeight: 700;
$buttonBoldFontLineHeight: 22px;

$buttonFontSize: 12px;
$buttonFontWeight: 500;
$buttonFontLineHeight: 22px;

$footerTitleFontSize: 14px;
$footerTitleFontWeight: 700;
$footerTitleFontLineHeight: 22px;
